.FoodCard {
    height: 345px;
    width: 250px;
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    /* border: solid 1px var(--border-color); */
    border: solid;
    border-width: thin;
  
  }
  .FoodCard .media {
    height: 250px;
    width: 100%;
  }
  .FoodCard .media img {
    height: 250px;
    width: 248px;
  }
  .FoodCard .product-info {
    flex: 1;
    display: flex;
    border-top: solid 1px var(--border-color);
  }
  .FoodCard .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 8px 12px;
  }
  .FoodCard .info .product-name {
    font-size: 15px;
    font-weight: 500;
  }
  .FoodCard .info .product-price {
    font-size: 14px;
  }
  